.text {
  font-family: times, serif;
}
#document{
  width: 920px;
  height: 300px;
  background-color: #999;
  margin-left: 230px;
}

#capcalera {
  width:75%;
  height: 300px;
  background-color: #CC9;
  text-align: center;
}
#gif{
}

#alumne1 {
  height: 150px;
  width: 220px;
  background-color: #CCC;
  margin: 5px;
  float: left;
  text-align: center;
}

#alumne2 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne3 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne4 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne5 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne6 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne7 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne8 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne9 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne10 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne11 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne12 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne13 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne14 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne15 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne16 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne17 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne18 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne19 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne20 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne21 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne22 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne23 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne24 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne25 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne26 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#alumne27 {
height: 150px;
width: 220px;
background-color: #CCC;
margin: 5px;
float: left;
text-align: center;
}
#peu {
width: 920px;
height: 40px;
background-color: #CC9;
margin: 5px;
}
